<!--html que forma el elemento principal de anuncio en la secciín Inicio, lo implementa anuncios-list2.component.html-->
<div class="align-items-center">
    <div class="card row border-0 shadow" style="width: 50rem;">
        <img src="{{anuncio.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{anuncio.titulo}}</h5>
            <p class="card-text"><b>Descripción: </b>{{anuncio.descripcion}}</p>
            <p class="card-text"><b>Precio: </b>{{anuncio.precio}}</p>
            <p class="card-text"><b>Activo: </b>{{anuncio.active}}</p>
            <p class="card-text"><b>Contacta con el vendedor!: </b>{{anuncio.email}}</p>

        </div>
    </div>
</div>
<br/><br/><br/>