<!--Componente correspondiente a la sección de About Us aunque su nombre pueda inducir a confusión
En principio correspondía a la sección de inicio pero lo modifiqué, solo muestra información, por lo que no tiene funcionalidad-->

<br/><br/>
<img src="https://i.ibb.co/GWKgmY7/cooltext349737544455356.png" class="img-fluid" style="display:block;margin:auto;" />
<br/>
<h3 style="text-align: center;">¿Qué es FrankStore?</h3>
<p style="text-align: center;">FrankStore es el tablón de anuncios clasificados gratuitos más popular de España según Google. En FrankStore se publican al día 10 anuncios, gratis todos ellos. En este portal de segunda mano, tienen cabida anuncios de compra-venta de bienes de segunda
    mano y nuevos, anuncios de empleo, servicios profesionales, negocios, coleccionistas, ... Publicar anuncios es gratis y es un medio ideal para contactar con posibles compradores, clientes, empleadores, ... Es muy fácil poner anuncios además de rápido.
</p>
<br/>
<p style="text-align: center;">En total hay más de 200 anuncios clasificados: motos de segunda mano, coches de ocasión, pisos de segunda mano, portátiles de segunda mano, ofertas de empleo, teléfonos de segunda mano, ...
</p>
<br/><br/>
<h3 style="text-align: center;">Nuestro Equipo</h3>
<br/>
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Jorge Nitales</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Eva Gina</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Fernando Rabanal</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Random Girl</h5>
                    <div class="card-text text-black-50">Web Developer</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>
<br/><br/><br/>